<div class="background-top-left"></div>

<div class="background-bottom-right"></div>

<div class="background-image"></div>

<div
  [ngClass]="{
    'show-top-button': showTopButton,
    'hide-top-button': !showTopButton
  }"
  (click)="navigateTop()"
  matRipple
  centered="True"
  class="scroll-top-button"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="size-6"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18"
    />
  </svg>
</div>

<div
  (click)="closeSideNav()"
  [ngClass]="{ 'show-side-nav-bg': openMenu, 'hide-side-nav-bg': !openMenu }"
  class="side-nav-background"
></div>
<div
  [ngClass]="{ 'show-side-nav': openMenu, 'hide-side-nav': !openMenu }"
  class="side-nav"
>
  <div class="menu-header">
    <div
      (click)="closeSideNav()"
      matRipple
      centered="True"
      class="close-menu-icon"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-6"
      >
        <path
          fill-rule="evenodd"
          d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
  </div>

  <div class="language-selection">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-world"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
      <path d="M3.6 9h16.8" />
      <path d="M3.6 15h16.8" />
      <path d="M11.5 3a17 17 0 0 0 0 18" />
      <path d="M12.5 3a17 17 0 0 1 0 18" />
    </svg>
    <p
      [ngClass]="{ 'active-language': englishLangActive }"
      (click)="setEnglishLanguage()"
    >
      EN
    </p>
    <span>|</span>
    <p
      [ngClass]="{ 'active-language': spanishLangActive }"
      (click)="setSpanishLanguage()"
    >
      ES
    </p>
  </div>

  <div (click)="navigateToContacts()" class="side-nav-item">
    <div
      [ngClass]="{
        'show-active-marker': activeContacts,
        'hide-active-marker': !activeContacts
      }"
      class="active-nav-marker"
    ></div>
    <p [ngClass]="{ 'active-item-mobile': activeContacts }">
      {{ languageTexts.contactsNavItem }}
    </p>
  </div>

  <div (click)="navigateToNotifications()" class="side-nav-item">
    <div
      [ngClass]="{
        'show-active-marker': activeNotifications,
        'hide-active-marker': !activeNotifications
      }"
      class="active-nav-marker"
    ></div>
    <p [ngClass]="{ 'active-item-mobile': activeNotifications }">
      {{ languageTexts.notificationsNavItem }}
    </p>
  </div>

  <div (click)="navigateToPersonalization()" class="side-nav-item">
    <div
      [ngClass]="{
        'show-active-marker': activePersonalization,
        'hide-active-marker': !activePersonalization
      }"
      class="active-nav-marker"
    ></div>
    <p [ngClass]="{ 'active-item-mobile': activePersonalization }">
      {{ languageTexts.personalizationNavItem }}
    </p>
  </div>

  <div (click)="navigateToDemo()" class="side-nav-item">
    <div
      [ngClass]="{
        'show-active-marker': activeDemo,
        'hide-active-marker': !activeDemo
      }"
      class="active-nav-marker"
    ></div>
    <p [ngClass]="{ 'active-item-mobile': activeDemo }">
      {{ languageTexts.demoNavItem }}
    </p>
  </div>
</div>

<div class="header">
  <div (click)="navigateTop()" class="logo">
    <div class="icon-container">
      <img src="assets/images/icon.png" alt="" />
    </div>
    <p>AppointPlus</p>
  </div>

  <div class="nav-items">
    <div class="language-selection">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-world"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
        <path d="M3.6 9h16.8" />
        <path d="M3.6 15h16.8" />
        <path d="M11.5 3a17 17 0 0 0 0 18" />
        <path d="M12.5 3a17 17 0 0 1 0 18" />
      </svg>
      <p
        [ngClass]="{ 'active-language': englishLangActive }"
        (click)="setEnglishLanguage()"
      >
        EN
      </p>
      <span>|</span>
      <p
        [ngClass]="{ 'active-language': spanishLangActive }"
        (click)="setSpanishLanguage()"
      >
        ES
      </p>
    </div>
    <div
      (click)="navigateToContacts()"
      [ngClass]="{ 'active-item': activeContacts }"
      class="nav-item"
    >
      <p>{{ languageTexts.contactsNavItem }}</p>
      <div class="nav-item-bottom-border"></div>
    </div>

    <div
      (click)="navigateToNotifications()"
      [ngClass]="{ 'active-item': activeNotifications }"
      class="nav-item"
    >
      <p>{{ languageTexts.notificationsNavItem }}</p>
      <div class="nav-item-bottom-border"></div>
    </div>

    <div
      (click)="navigateToPersonalization()"
      [ngClass]="{ 'active-item': activePersonalization }"
      class="nav-item"
    >
      <p>{{ languageTexts.personalizationNavItem }}</p>
      <div class="nav-item-bottom-border"></div>
    </div>

    <div
      (click)="navigateToDemo()"
      [ngClass]="{ 'active-item': activeDemo }"
      class="nav-item"
    >
      <p>{{ languageTexts.demoNavItem }}</p>
      <div class="nav-item-bottom-border"></div>
    </div>
  </div>

  <div (click)="openSideNav()" matRipple centered="True" class="menu-icon">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="size-6"
    >
      <path
        fill-rule="evenodd"
        d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z"
        clip-rule="evenodd"
      />
    </svg>
  </div>
</div>

<div
  (scroll)="[onScroll(), checkScrollTopButton()]"
  id="page"
  class="main-content"
>
  <div class="main-section-mobile">
    <div class="phone-container">
      <div class="outer-phone-layer">
        <div class="reservation">
          <div class="reservation-marker"></div>
          <div style="display: flex; flex-direction: column; width: 100%">
            <div class="reservation-header">
              <p>Jose Ignacio</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>

            <div class="reservation-time">
              <p>10:00 AM - 11:00 AM</p>
            </div>
          </div>
        </div>
        <div class="points-balance">
          <div class="points-balance-header">
            <p>{{ languageTexts.currentBalance }}:</p>

            <div class="add-points-button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-6"
              >
                <path
                  d="M10.464 8.746c.227-.18.497-.311.786-.394v2.795a2.252 2.252 0 0 1-.786-.393c-.394-.313-.546-.681-.546-1.004 0-.323.152-.691.546-1.004ZM12.75 15.662v-2.824c.347.085.664.228.921.421.427.32.579.686.579.991 0 .305-.152.671-.579.991a2.534 2.534 0 0 1-.921.42Z"
                />
                <path
                  fill-rule="evenodd"
                  d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v.816a3.836 3.836 0 0 0-1.72.756c-.712.566-1.112 1.35-1.112 2.178 0 .829.4 1.612 1.113 2.178.502.4 1.102.647 1.719.756v2.978a2.536 2.536 0 0 1-.921-.421l-.879-.66a.75.75 0 0 0-.9 1.2l.879.66c.533.4 1.169.645 1.821.75V18a.75.75 0 0 0 1.5 0v-.81a4.124 4.124 0 0 0 1.821-.749c.745-.559 1.179-1.344 1.179-2.191 0-.847-.434-1.632-1.179-2.191a4.122 4.122 0 0 0-1.821-.75V8.354c.29.082.559.213.786.393l.415.33a.75.75 0 0 0 .933-1.175l-.415-.33a3.836 3.836 0 0 0-1.719-.755V6Z"
                  clip-rule="evenodd"
                />
              </svg>

              <p>{{ languageTexts.addPoints }}</p>
            </div>
          </div>

          <div class="points-value">
            <p>{{ languageTexts.pointsValue }}</p>
          </div>

          <div class="info-message-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"
              />
            </svg>

            <p>{{ languageTexts.messageInfo }}</p>
          </div>
        </div>
        <div class="message-container">
          <!-- <p>{{ formattedDate }}</p> -->
          <div class="message">
            <p>
              {{ languageTexts.appReminder }}
            </p>
          </div>
        </div>
      </div>
      <div class="phone-frame">
        <div class="phone-header">
          <p>{{ currentTime }}</p>

          <div class="phone-info">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-antenna-bars-5"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M6 18l0 -3" />
              <path d="M10 18l0 -6" />
              <path d="M14 18l0 -9" />
              <path d="M18 18l0 -12" />
            </svg>

            <svg
              id="wifi-icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-6"
            >
              <path
                fill-rule="evenodd"
                d="M1.371 8.143c5.858-5.857 15.356-5.857 21.213 0a.75.75 0 0 1 0 1.061l-.53.53a.75.75 0 0 1-1.06 0c-4.98-4.979-13.053-4.979-18.032 0a.75.75 0 0 1-1.06 0l-.53-.53a.75.75 0 0 1 0-1.06Zm3.182 3.182c4.1-4.1 10.749-4.1 14.85 0a.75.75 0 0 1 0 1.061l-.53.53a.75.75 0 0 1-1.062 0 8.25 8.25 0 0 0-11.667 0 .75.75 0 0 1-1.06 0l-.53-.53a.75.75 0 0 1 0-1.06Zm3.204 3.182a6 6 0 0 1 8.486 0 .75.75 0 0 1 0 1.061l-.53.53a.75.75 0 0 1-1.061 0 3.75 3.75 0 0 0-5.304 0 .75.75 0 0 1-1.06 0l-.53-.53a.75.75 0 0 1 0-1.06Zm3.182 3.182a1.5 1.5 0 0 1 2.122 0 .75.75 0 0 1 0 1.061l-.53.53a.75.75 0 0 1-1.061 0l-.53-.53a.75.75 0 0 1 0-1.06Z"
                clip-rule="evenodd"
              />
            </svg>

            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-6"
            >
              <path
                fill-rule="evenodd"
                d="M3.75 6.75a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3v-.037c.856-.174 1.5-.93 1.5-1.838v-2.25c0-.907-.644-1.664-1.5-1.837V9.75a3 3 0 0 0-3-3h-15Zm15 1.5a1.5 1.5 0 0 1 1.5 1.5v6a1.5 1.5 0 0 1-1.5 1.5h-15a1.5 1.5 0 0 1-1.5-1.5v-6a1.5 1.5 0 0 1 1.5-1.5h15ZM4.5 9.75a.75.75 0 0 0-.75.75V15c0 .414.336.75.75.75H18a.75.75 0 0 0 .75-.75v-4.5a.75.75 0 0 0-.75-.75H4.5Z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
        </div>

        <div class="phone-island">
          <div class="sound-bar"></div>
        </div>

        <div class="app-header">
          <p>{{ languageTexts.appTitle }}</p>
          <div class="app-header-line"></div>
        </div>

        <div class="date-picker">
          <p>{{ formattedDate }}</p>
        </div>

        <div *ngFor="let time of times; index as i" class="time-item">
          <div class="time-range">
            <p [ngClass]="{ 'show-time': i % 2 == 0, 'hide-time': i % 2 != 0 }">
              {{ time }}
            </p>
          </div>
          <div class="time-slot"></div>
        </div>

        <div class="app-nav-bar">
          <div class="app-nav-item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-6"
            >
              <path
                fill-rule="evenodd"
                d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
                clip-rule="evenodd"
              />
            </svg>

            <p>{{ languageTexts.appMyUser }}</p>
          </div>

          <div id="reservation-item" class="app-nav-item">
            <div class="active-nav-item"></div>

            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-6"
            >
              <path
                d="M12.75 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM7.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM8.25 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM9.75 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM10.5 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM12.75 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM14.25 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 13.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
              />
              <path
                fill-rule="evenodd"
                d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z"
                clip-rule="evenodd"
              />
            </svg>

            <p>{{ languageTexts.appReservations }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="title-container">
      <p *ngIf="language == 'English'" class="headline">
        Simplify <span>Appointments</span>. Notify Instantly. Stay Connected.
      </p>

      <p *ngIf="language != 'English'" class="headline">
        Simplifica <span>Citas</span>. Notifica al instante. Mantente conectado.
      </p>

      <p *ngIf="language == 'English'" class="subheadline">
        The <span>ultimate scheduling app</span> for seamless contact
        management, real-time notifications, and appointment organization.
      </p>

      <p *ngIf="language != 'English'" class="subheadline">
        La <span>aplicación definitiva</span> para una gestión de contactos sin
        complicaciones, notificaciones en tiempo real y organización de citas.
      </p>

      <div
        (click)="navigateFirstSection()"
        matRipple
        centered="True"
        class="learn-more-button"
      >
        <p>{{ languageTexts.learnMore }}</p>
      </div>
    </div>
  </div>

  <div class="main-section-desktop">
    <div class="title-container">
      <p *ngIf="language == 'English'" class="headline">
        Simplify <span>Appointments</span>. Notify Instantly. Stay Connected.
      </p>

      <p *ngIf="language != 'English'" class="headline">
        Simplifica <span>Citas</span>. Notifica al instante. Mantente conectado.
      </p>

      <p *ngIf="language == 'English'" class="subheadline">
        The <span>ultimate scheduling app</span> for seamless contact
        management, real-time notifications, and appointment organization.
      </p>

      <p *ngIf="language != 'English'" class="subheadline">
        La <span>aplicación definitiva</span> para una gestión de contactos sin
        complicaciones, notificaciones en tiempo real y organización de citas.
      </p>

      <div
        (click)="navigateFirstSection()"
        matRipple
        centered="True"
        class="learn-more-button"
      >
        <p>{{ languageTexts.learnMore }}</p>
      </div>
    </div>

    <div class="phone-container">
      <div class="outer-phone-layer">
        <div class="reservation">
          <div class="reservation-marker"></div>
          <div style="display: flex; flex-direction: column; width: 100%">
            <div class="reservation-header">
              <p>Jose Ignacio</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>

            <div class="reservation-time">
              <p>10:00 AM - 11:00 AM</p>
            </div>
          </div>
        </div>
        <div class="points-balance">
          <div class="points-balance-header">
            <p>{{ languageTexts.currentBalance }}:</p>

            <div class="add-points-button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-6"
              >
                <path
                  d="M10.464 8.746c.227-.18.497-.311.786-.394v2.795a2.252 2.252 0 0 1-.786-.393c-.394-.313-.546-.681-.546-1.004 0-.323.152-.691.546-1.004ZM12.75 15.662v-2.824c.347.085.664.228.921.421.427.32.579.686.579.991 0 .305-.152.671-.579.991a2.534 2.534 0 0 1-.921.42Z"
                />
                <path
                  fill-rule="evenodd"
                  d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v.816a3.836 3.836 0 0 0-1.72.756c-.712.566-1.112 1.35-1.112 2.178 0 .829.4 1.612 1.113 2.178.502.4 1.102.647 1.719.756v2.978a2.536 2.536 0 0 1-.921-.421l-.879-.66a.75.75 0 0 0-.9 1.2l.879.66c.533.4 1.169.645 1.821.75V18a.75.75 0 0 0 1.5 0v-.81a4.124 4.124 0 0 0 1.821-.749c.745-.559 1.179-1.344 1.179-2.191 0-.847-.434-1.632-1.179-2.191a4.122 4.122 0 0 0-1.821-.75V8.354c.29.082.559.213.786.393l.415.33a.75.75 0 0 0 .933-1.175l-.415-.33a3.836 3.836 0 0 0-1.719-.755V6Z"
                  clip-rule="evenodd"
                />
              </svg>

              <p>{{ languageTexts.addPoints }}</p>
            </div>
          </div>

          <div class="points-value">
            <p>{{ languageTexts.pointsValue }}</p>
          </div>

          <div class="info-message-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"
              />
            </svg>

            <p>{{ languageTexts.messageInfo }}</p>
          </div>
        </div>

        <div class="message-container">
          <!-- <p>{{ formattedDate }}</p> -->
          <div class="message">
            <p>
              {{ languageTexts.appReminder }}
            </p>
          </div>
        </div>
      </div>

      <div class="phone-frame">
        <div class="phone-header">
          <p>{{ currentTime }}</p>

          <div class="phone-info">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-antenna-bars-5"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M6 18l0 -3" />
              <path d="M10 18l0 -6" />
              <path d="M14 18l0 -9" />
              <path d="M18 18l0 -12" />
            </svg>

            <svg
              id="wifi-icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-6"
            >
              <path
                fill-rule="evenodd"
                d="M1.371 8.143c5.858-5.857 15.356-5.857 21.213 0a.75.75 0 0 1 0 1.061l-.53.53a.75.75 0 0 1-1.06 0c-4.98-4.979-13.053-4.979-18.032 0a.75.75 0 0 1-1.06 0l-.53-.53a.75.75 0 0 1 0-1.06Zm3.182 3.182c4.1-4.1 10.749-4.1 14.85 0a.75.75 0 0 1 0 1.061l-.53.53a.75.75 0 0 1-1.062 0 8.25 8.25 0 0 0-11.667 0 .75.75 0 0 1-1.06 0l-.53-.53a.75.75 0 0 1 0-1.06Zm3.204 3.182a6 6 0 0 1 8.486 0 .75.75 0 0 1 0 1.061l-.53.53a.75.75 0 0 1-1.061 0 3.75 3.75 0 0 0-5.304 0 .75.75 0 0 1-1.06 0l-.53-.53a.75.75 0 0 1 0-1.06Zm3.182 3.182a1.5 1.5 0 0 1 2.122 0 .75.75 0 0 1 0 1.061l-.53.53a.75.75 0 0 1-1.061 0l-.53-.53a.75.75 0 0 1 0-1.06Z"
                clip-rule="evenodd"
              />
            </svg>

            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-6"
            >
              <path
                fill-rule="evenodd"
                d="M3.75 6.75a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3v-.037c.856-.174 1.5-.93 1.5-1.838v-2.25c0-.907-.644-1.664-1.5-1.837V9.75a3 3 0 0 0-3-3h-15Zm15 1.5a1.5 1.5 0 0 1 1.5 1.5v6a1.5 1.5 0 0 1-1.5 1.5h-15a1.5 1.5 0 0 1-1.5-1.5v-6a1.5 1.5 0 0 1 1.5-1.5h15ZM4.5 9.75a.75.75 0 0 0-.75.75V15c0 .414.336.75.75.75H18a.75.75 0 0 0 .75-.75v-4.5a.75.75 0 0 0-.75-.75H4.5Z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
        </div>

        <div class="phone-island">
          <div class="sound-bar"></div>
        </div>

        <div class="app-header">
          <p>{{ languageTexts.appTitle }}</p>
          <div class="app-header-line"></div>
        </div>

        <div class="date-picker">
          <p>{{ formattedDate }}</p>
        </div>

        <div *ngFor="let time of times; index as i" class="time-item">
          <div class="time-range">
            <p [ngClass]="{ 'show-time': i % 2 == 0, 'hide-time': i % 2 != 0 }">
              {{ time }}
            </p>
          </div>
          <div class="time-slot"></div>
        </div>

        <div class="app-nav-bar">
          <div class="app-nav-item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-6"
            >
              <path
                fill-rule="evenodd"
                d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
                clip-rule="evenodd"
              />
            </svg>

            <p>{{ languageTexts.appMyUser }}</p>
          </div>

          <div id="reservation-item" class="app-nav-item">
            <div class="active-nav-item"></div>

            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-6"
            >
              <path
                d="M12.75 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM7.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM8.25 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM9.75 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM10.5 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM12.75 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM14.25 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 13.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
              />
              <path
                fill-rule="evenodd"
                d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z"
                clip-rule="evenodd"
              />
            </svg>

            <p>{{ languageTexts.appReservations }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    [ngClass]="{ 'show-section': showContacts, 'hide-section': !showContacts }"
    id="contacts-section"
    class="section"
  >
    <div class="section-header">
      <div class="begin-section-divider"></div>
      <p>{{ languageTexts.contactsSectionTitle }}</p>

      <div class="end-section-divider"></div>
    </div>

    <div class="contacts-mobile">
      <div *ngIf="activeReservations" class="phone-frame-video">
        <!-- (canplay)="playNotificationVideos()" -->
        <video id="add-reservation-video" autoplay muted loop playsinline>
          <source src="assets/videos/add_reservation.mp4" type="video/mp4" />
        </video>
      </div>

      <div *ngIf="activeManageContacts" class="phone-frame-video">
        <!-- (canplay)="playNotificationVideos()" -->
        <video id="add-reservation-video" autoplay muted loop playsinline>
          <source src="assets/videos/manage_contacts.mp4" type="video/mp4" />
        </video>
      </div>

      <div class="section-title">
        <p>{{ languageTexts.contactsHeadline }}</p>
      </div>

      <div class="section-subtitle">
        <p>
          {{ setContactsSubtitle() }}
        </p>
      </div>

      <div class="features-list">
        <p>{{ languageTexts.featuresText }}:</p>
        <ol>
          <li>{{ languageTexts.contactsFeature1 }}</li>
          <li>{{ languageTexts.contactsFeature2 }}</li>
        </ol>
      </div>

      <div class="section-buttons-container">
        <div
          (click)="showReservationsSection()"
          [ngClass]="{ 'active-section-button': activeReservations }"
          matRipple
          centered="True"
          class="section-button"
        >
          <p>{{ languageTexts.addReservations }}</p>
        </div>

        <div
          (click)="showManageContactsSection()"
          [ngClass]="{ 'active-section-button': activeManageContacts }"
          matRipple
          centered="True"
          class="section-button"
        >
          <p>{{ languageTexts.manageContacts }}</p>
        </div>
      </div>
    </div>

    <div class="contacts-desktop">
      <div class="info-section">
        <div class="section-title">
          <p>{{ languageTexts.contactsHeadline }}</p>
        </div>

        <div class="section-subtitle">
          <p>
            {{ setContactsSubtitle() }}
          </p>
        </div>

        <div class="features-list">
          <p>{{ languageTexts.featuresText }}:</p>
          <ol>
            <li>{{ languageTexts.contactsFeature1 }}</li>
            <li>{{ languageTexts.contactsFeature2 }}</li>
          </ol>
        </div>

        <div class="section-buttons-container">
          <div
            (click)="showReservationsSection()"
            [ngClass]="{ 'active-section-button': activeReservations }"
            matRipple
            centered="True"
            class="section-button"
          >
            <p>{{ languageTexts.addReservations }}</p>
          </div>

          <div
            (click)="showManageContactsSection()"
            [ngClass]="{ 'active-section-button': activeManageContacts }"
            matRipple
            centered="True"
            class="section-button"
          >
            <p>{{ languageTexts.manageContacts }}</p>
          </div>
        </div>
      </div>

      <div *ngIf="activeReservations" class="phone-frame-video">
        <!-- (canplay)="playNotificationVideos()" -->
        <video id="add-reservation-video" autoplay muted loop playsinline>
          <source src="assets/videos/add_reservation.mp4" type="video/mp4" />
        </video>
      </div>

      <div *ngIf="activeManageContacts" class="phone-frame-video">
        <!-- (canplay)="playNotificationVideos()" -->
        <video id="add-reservation-video" autoplay muted loop playsinline>
          <source src="assets/videos/manage_contacts.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>

  <div
    [ngClass]="{
      'show-section': showNotifications,
      'hide-section': !showNotifications
    }"
    id="notifications-section"
    class="section"
  >
    <div class="section-header">
      <div class="begin-section-divider"></div>
      <p>{{ languageTexts.notificationsSectionTitle }}</p>

      <div class="end-section-divider"></div>
    </div>

    <div class="notifications-mobile">
      <div *ngIf="!clickedCustomer" class="phone-frame-video">
        <!-- (canplay)="playNotificationVideos()" -->
        <video id="my-messages-video" autoplay muted loop playsinline>
          <source src="assets/videos/my_messages.mp4" type="video/mp4" />
        </video>
      </div>

      <div *ngIf="clickedCustomer" class="phone-frame-video">
        <!-- (canplay)="playNotificationVideos()" -->
        <video id="their-updates-video" autoplay muted loop playsinline>
          <source src="assets/videos/their_updates.mp4" type="video/mp4" />
        </video>
      </div>

      <div class="section-title">
        <p>{{ languageTexts.notificationsHeadline }}</p>
      </div>

      <div class="section-subtitle">
        <p>
          {{ setNotificationsSubtitle() }}
        </p>
      </div>

      <div class="features-list">
        <p>{{ languageTexts.featuresText }}:</p>
        <ol>
          <li>
            {{ languageTexts.notificationsFeature1 }}
          </li>
          <li>{{ languageTexts.notificationsFeature2 }}</li>
        </ol>
      </div>

      <div
        (click)="toggleNotificationsView()"
        matRipple
        centered="True"
        class="toggle-view-button"
      >
        <p>
          {{ setNotificationsButton() }}
        </p>
      </div>
    </div>

    <div class="notifications-desktop">
      <div *ngIf="!clickedCustomer" class="phone-frame-video">
        <!-- (canplay)="playNotificationVideos()" -->
        <video id="my-messages-video" autoplay muted loop playsinline>
          <source src="assets/videos/my_messages.mp4" type="video/mp4" />
        </video>
      </div>

      <div *ngIf="clickedCustomer" class="phone-frame-video">
        <!-- (canplay)="playNotificationVideos()" -->
        <video id="their-updates-video" autoplay muted loop playsinline>
          <source src="assets/videos/their_updates.mp4" type="video/mp4" />
        </video>
      </div>

      <div class="info-section">
        <div class="section-title">
          <p>{{ languageTexts.notificationsHeadline }}</p>
        </div>

        <div class="section-subtitle">
          <p>
            {{ setNotificationsSubtitle() }}
          </p>
        </div>

        <div class="features-list">
          <p>{{ languageTexts.featuresText }}:</p>
          <ol>
            <li>
              {{ languageTexts.notificationsFeature1 }}
            </li>
            <li>{{ languageTexts.notificationsFeature2 }}</li>
          </ol>
        </div>

        <div
          (click)="toggleNotificationsView()"
          matRipple
          centered="True"
          class="toggle-view-button"
        >
          <p>
            {{ setNotificationsButton() }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div
    [ngClass]="{ 'show-section': showCustom, 'hide-section': !showCustom }"
    id="custom-section"
    class="section"
  >
    <div class="section-header">
      <div class="begin-section-divider"></div>
      <p>{{ languageTexts.customSectionTitle }}</p>

      <div class="end-section-divider"></div>
    </div>

    <div class="custom-mobile">
      <div *ngIf="activeBuyPoints" class="phone-frame-video">
        <!-- (canplay)="playNotificationVideos()" -->
        <video id="buy-points-video" autoplay muted loop playsinline>
          <source src="assets/videos/buy_points.mp4" type="video/mp4" />
        </video>
      </div>

      <div *ngIf="activeSettings" class="phone-frame-video">
        <!-- (canplay)="playNotificationVideos()" -->
        <video id="my-settings-video" autoplay muted loop playsinline>
          <source src="assets/videos/my_settings.mp4" type="video/mp4" />
        </video>
      </div>

      <div class="section-title">
        <p>{{ languageTexts.customHeadline }}</p>
      </div>

      <div class="section-subtitle">
        <p>
          {{ setCustomSubtitle() }}
        </p>
      </div>

      <div class="features-list">
        <p>{{ languageTexts.featuresText }}:</p>
        <ol>
          <li>
            {{ languageTexts.customFeature1 }}
          </li>
          <li>
            {{ languageTexts.customFeature2 }}
          </li>
        </ol>
      </div>

      <div class="section-buttons-container">
        <div
          (click)="showBuyPointsSection()"
          [ngClass]="{ 'active-section-button': activeBuyPoints }"
          matRipple
          centered="True"
          class="section-button"
        >
          <p>{{ languageTexts.buyPoints }}</p>
        </div>

        <div
          (click)="showSettingsSection()"
          [ngClass]="{ 'active-section-button': activeSettings }"
          matRipple
          centered="True"
          class="section-button"
        >
          <p>{{ languageTexts.customizeSettings }}</p>
        </div>
      </div>
    </div>

    <div class="custom-desktop">
      <div class="info-section">
        <div class="section-title">
          <p>{{ languageTexts.customHeadline }}</p>
        </div>

        <div class="section-subtitle">
          <p>
            {{ setCustomSubtitle() }}
          </p>
        </div>

        <div class="features-list">
          <p>{{ languageTexts.featuresText }}:</p>
          <ol>
            <li>
              {{ languageTexts.customFeature1 }}
            </li>
            <li>
              {{ languageTexts.customFeature2 }}
            </li>
          </ol>
        </div>

        <div class="section-buttons-container">
          <div
            (click)="showBuyPointsSection()"
            [ngClass]="{ 'active-section-button': activeBuyPoints }"
            matRipple
            centered="True"
            class="section-button"
          >
            <p>{{ languageTexts.buyPoints }}</p>
          </div>

          <div
            (click)="showSettingsSection()"
            [ngClass]="{ 'active-section-button': activeSettings }"
            matRipple
            centered="True"
            class="section-button"
          >
            <p>{{ languageTexts.customizeSettings }}</p>
          </div>
        </div>
      </div>

      <div *ngIf="activeBuyPoints" class="phone-frame-video">
        <!-- (canplay)="playNotificationVideos()" -->
        <video id="buy-points-video" autoplay muted loop playsinline>
          <source src="assets/videos/buy_points.mp4" type="video/mp4" />
        </video>
      </div>

      <div *ngIf="activeSettings" class="phone-frame-video">
        <!-- (canplay)="playNotificationVideos()" -->
        <video id="my-settings-video" autoplay muted loop playsinline>
          <source src="assets/videos/my_settings.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>

  <div id="video" class="video-section">
    <div class="section-header">
      <div class="begin-section-divider"></div>
      <p>{{ languageTexts.demoSectionTitle }}</p>

      <div class="end-section-divider"></div>
    </div>
    <div class="video-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/_BqSCYMilwk?si=L3GTH85XMGbN2GuX"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      ></iframe>
    </div>
  </div>

  <div class="free-points-section">
    <div class="section-header">
      <div class="begin-section-divider"></div>
      <p>{{ languageTexts.getNowSectionTitle }}</p>

      <div class="end-section-divider"></div>
    </div>

    <div class="free-points-section-title">
      <p>
        {{ languageTexts.downloadNow }}
        <span style="color: #13aafd">{{ pointsValue }}</span>
        {{ language == "English" ? "free!" : "gratis!" }}
      </p>
    </div>

    <div class="section-subtitle">
      <p>{{ languageTexts.downloadNowSubheadline }}</p>
    </div>
  </div>

  <div class="footer">
    <div class="footer-logo">
      <div class="icon-container">
        <img src="assets/images/icon.png" alt="" />
      </div>
      <p>AppointPlus</p>
    </div>

    <div class="copyright-container">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-copyright"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
        <path
          d="M14 9.75a3.016 3.016 0 0 0 -4.163 .173a2.993 2.993 0 0 0 0 4.154a3.016 3.016 0 0 0 4.163 .173"
        />
      </svg>
      <p>{{ currentYear }} AppointPlus.</p>
      <p id="last-sentence-footer">{{ languageTexts.rightsReserved }}</p>
    </div>
  </div>
</div>
